/node_modules
/public/hot
/public/storage
/public/adminlte
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
composer.lock
package-lock.json
phpunit.xml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
bootstrap/
tests/
storage/
*.mix.js
