/node_modules
/public/hot
/public/storage
/public/adminlte
/public/css/fonts
/public/css/font-awesome
/public/css/img
/public/images
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
composer.lock
package-lock.json
phpunit.xml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
bootstrap/
tests/
storage/
*.mix.js
